<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>GoPro Video App</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>GoPro Video Scraper App</h1>
  <a href=<%= @upload %> > <p><%= @upload %></p> </a>
</body>
</html>