<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

	<p><%= @token %></p>
	<a href="/user_recent_media"><img src="images/Snackit_Logo.png"</a>

</body>
</html>